.App {
  text-align: center;
  margin: 0 auto;
  font-family: cursive;
}

input {
  font-family: cursive;
}

button:disabled {
  
   opacity: 0.3;
}

button:hover {
      background-color: #2F3131;
      transition: 0.8s;
  }

input::placeholder {
    font-family: cursive;
    opacity: 0.5;
}

li {
 margin:2px;
 text-decoration: none;
}

a:link,a:visited,a:hover {
text-decoration: none;
color: black;
}

.divDogs{
   display: flex; 
   flex-wrap:wrap;
   justify-content :space-around;
}

label {
  padding: 5px;
  margin:5 px;
}

span {
  font-size: 0.9rem;
  color:black;
}

input {
  margin:5 px;
}

/*.clasePrueba  {
 display: inline-block;
 padding: 5px;

}
*/
.clasePrueba h4{
 display: inline-block;
 padding: 5px;
 text-decoration: none;
}

.borderRight {
  border-right: solid 2px grey;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
